extends layout

block content
  link(rel='stylesheet', href='/stylesheets/homepage-style.css')
  h1(class='centered') Screen Translator
  p(class='centered') An Electron-based translator for on-screen text.
  br
  br
  a(class='centered')(href="https://google.com", class="down") Download for Windows (64bit)
  