* {
	font-family: calibri;
}

h1 {
	top: 150px;
}

p {
	top: 200px;
}

a.download-link {
	top: 350px;
	padding: 20px;
	padding-left: 30px;
	padding-right: 30px;
	color: white;
	background-color: blue;
	border-radius: 30px;
	text-decoration: none;
}

.centered {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}