* {
	font-family: calibri;
}

button {
	top: 100px;
	width: 200px;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	color: white;
	background-color: blue;
	border-radius: 5px;
	border: none;
}

h1 {
	top: 125px;
}

h3 {
	top: 200px;
}

form {
	top: 275px;
}

label {
	display: block;
}

input.form-control {
	margin-top: 5px;
	height: 25px;
	width: 200px;
	
}

div.sign-in-background {
	position: absolute;
	width: 275px;
	height: 250px;
	top: 200px;
	border-radius: 15px;
	background-color: #e1eaf7;
}

.centered {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

#username-area {
	top: 150px;
}

#password-area {
	top: 225px;
}